<h1>Scores#new</h1>

<% if @score.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>
  <ul>
    <% @score.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @score do |s| %>
<table>
  <tr>
    <td><%= s.label 'User' %> :</td>
    <td><%= select_tag(:user_id, options_for_select(@users_array, @score.user_id)) %></td>
  </tr>
  <tr>
    <td><%= s.label 'Score' %> :</td>
    <td><%= s.text_field :value %></td>
  </tr>
  <tr>
    <td><%= s.submit %></td>
  </tr>
</table>
<% end %>

<h3><%= link_to 'Score', scores_path %><h3>
