%h3= link_to 'Games', games_path
%table{style: "border: 1px solid black; width: 60%; text-align: center"}
  %tr
    %th name
    %th game_id
    - Game.all.each do |g|
      %tr
        %td= link_to g.name, g
        %td= g.api_key
%h3 Users
- if !@users.count
  %p No users
- else
  %table{style: "border: 1px solid black; width: 60%; text-align: center"}
    %tr
      %th name
      %th password
      %th user_key
      %th edit
      %th delete
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.password
        %td= user.encrypted_password
        %td= link_to 'E', edit_user_path(user)
        %td= link_to 'X', user, confirm: 'are you sure?', method: :delete

%h3= link_to 'Zones', zones_path
- if !@zones.count
  %p No zones
- else
  %table{style: "border: 1px solid black; width: 60%; text-align: center"}
    %tr
      %th id
      %th latitude
      %th longitude
    - @zones.each do |zone|
      %tr
        %td= link_to zone.id, zone
        %td= zone.latitude
        %td= zone.longitude