<h3><%= @user.name %> (id : <%= @user.id %>)</h3>
<h3>Last position</h3>
<% if @user.last_position %>
<table>
  <tr>
    <td>id</td>
    <td>long</td>
    <td>lat</td>
  </tr>
  <tr>
  <td><%= @user.last_position.zone.id %></td>
  <td><%= @user.last_position.zone.longitude %></td>
  <td><%= @user.last_position.zone.latitude %></td>
  </tr>
</table>
<% else %>
  <p>NONE</p>
<% end %>
<% if !@user.unlocked_zones.empty? %>
<h3>Unlocked Zone:</h3>
<table>
  <tr>
    <td>id</td>
    <td>long</td>
    <td>lat</td>
    <td>Date</td>
  </tr>
  <% @user.unlocked_zones.each do |us| %>
  <tr>
  <td><%= us.id %></td>
  <td><%= us.zone.longitude %></td>
  <td><%= us.zone.latitude %></td>
  <td><%= us.updated_at.to_s(:displayDateScored) %></td>
  </tr>
  <% end %>
</table>
<% end %>

<% if !@user.scores.empty? %>
<h3>Scores :</h3>
<table>
  <tr>
    <td>zone id</td>
    <td>Value</td>
    <td>Date</td>
  </tr>
  <% @user.scores.each do |s| %>
  <tr>
    <td><%= s.zone.id %></td>
    <td><%= s.value %></td>
    <td><%= s.updated_at.to_s(:displayDateScored) %></td>
  </tr>
  <% end %>
</table>
<% end %>
<%= link_to 'go back', users_path %>
